html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
      -webkit-appearance: auto;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; /* reseting base font-size to 10px */
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    font-size: 1.6em; /* base font size is 16px */
    line-height: 1.4;
    font-family: "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    background-color: #000;
    color: white;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
  
  /* -------------- Scrollbar -------------- */
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    background: rgba(255, 255, 255, 0.04);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(242, 242, 242, 0.08);
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(242, 242, 242, 0.24);
  }
  
  #main_wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
  
  .chat_wrapper {
    height: 100%;
    max-height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .chat_timeline {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .msg_bubble {
    padding: 8px 16px;
    border-radius: 12px;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.08);
  }
  .msg_bubble_purple {
    background-color: #9925ff;
    align-self: flex-end;
  }
  .msg_bubble:last-child {
    margin-bottom: 0;
  }
  
  .bottomBar {
    background: rgba(255, 255, 255, 0.08);
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.04);
  }
  .bottomBar input {
    border: none;
    border-radius: 200px;
    padding: 10px 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    min-width: 240px;
    caret-color: #9925ff;
    font-size: 14px;
  }
  .bottomBar input::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  .bottomBar input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 2px #9925ff;
  }
  
  @keyframes scaleUp {
    0% {
      opacity: 0;
      transform: scale(0);
      transform-origin: bottom left;
    }
    100% {
      opacity: 1;
      transform: scale(1);
      transform-origin: bottom left;
    }
  }
  @keyframes scaleUpRight {
    0% {
      opacity: 0;
      transform: scale(0);
      transform-origin: bottom right;
    }
    100% {
      opacity: 1;
      transform: scale(1);
      transform-origin: bottom right;
    }
  }

  @keyframes scaleInPlace {
    0% {
      opacity: 0;
      transform-origin: center;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform-origin: center;
      transform: scale(1);
    }
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .settings_btn {
      min-width: 160px;
      padding: 8px 12px;
  }
  .settings_wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    padding: 24px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.9);
    border-radius: 0 16px 0 0;
  }
  .settings_wrapper hr {
    margin: 16px 0;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .settings_wrapper h3 {
    font-size: calc(16em / 16);
    margin-bottom: 8px;
  }
  .settings_wrapper h2 {
    font-size: calc(20em / 16);
  }
  .animation_type {
  }
  .animation_type label {
    margin-bottom: 8px;
  }
  .animation_type_option {
    margin-bottom: 8px;
  }
  .animation_type_option:last-child {
    margin-bottom: 0;
  }
  .animation_type_option input {
    margin-right: 8px;
  }

  .animation_duration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .animation_duration input {
    padding: 8px 12px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 80px;
  }